flows_rewater.local.json
[{"id":"38921055.e8e9a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1d47f6ca.974c59","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b7f131d4.49678","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"db0488e3.893088","type":"ui_group","z":"","name":"Default","tab":"b7f131d4.49678","order":1,"disp":true,"width":"6","collapse":false},{"id":"5bb5b66f.24bc68","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3f889b7f.3442d4","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"34c5d0a2.bcd97","type":"arduino-board","z":"","device":"/dev/tty.usbmodem141101"},{"id":"b70e0378.cf8c1","type":"debug","z":"1d47f6ca.974c59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":100,"wires":[]},{"id":"c532148e.2ddb18","type":"ui_gauge","z":"1d47f6ca.974c59","name":"","group":"db0488e3.893088","order":0,"width":0,"height":0,"gtype":"gage","title":"Volume ","label":"% (Porcentagem)","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":960,"wires":[]},{"id":"da35d150.39c94","type":"json","z":"1d47f6ca.974c59","name":"","property":"payload","action":"","pretty":false,"x":250,"y":240,"wires":[["a40d5376.7124e","464a7e07.bcaaa","b70e0378.cf8c1"]]},{"id":"a40d5376.7124e","type":"function","z":"1d47f6ca.974c59","name":"distancia_selected","func":"msg.payload = msg.payload.distancia_d;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["bf02c028.cd017"]]},{"id":"e1c67540.1bc9d8","type":"ui_gauge","z":"1d47f6ca.974c59","name":"Distancia","group":"db0488e3.893088","order":1,"width":0,"height":0,"gtype":"gage","title":"O quanto a água já encheu","label":"cm (centímetros)","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":880,"wires":[]},{"id":"464a7e07.bcaaa","type":"function","z":"1d47f6ca.974c59","name":"Transformar o cm em porcentagem","func":"var cm = msg.payload.distancia_d;\n\nmsg.payload = Math.round((cm /90)*100);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["2cf609da.f01c76"]]},{"id":"87b29e40.f5dab","type":"function","z":"1d47f6ca.974c59","name":"Select centimetros","func":"msg.payload = msg.payload.centimetros\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"2cf609da.f01c76","type":"mqtt out","z":"1d47f6ca.974c59","name":"","topic":"oic/volumeEmPorcentagem","qos":"","retain":"","broker":"3f889b7f.3442d4","x":790,"y":560,"wires":[]},{"id":"bf02c028.cd017","type":"mqtt out","z":"1d47f6ca.974c59","name":"","topic":"oic/distanciaCm","qos":"","retain":"","broker":"3f889b7f.3442d4","x":490,"y":640,"wires":[]},{"id":"cd7d5abd.4637d8","type":"mqtt in","z":"1d47f6ca.974c59","name":"","topic":"oic/distanciaCm","qos":"2","datatype":"auto","broker":"3f889b7f.3442d4","x":180,"y":880,"wires":[["e1c67540.1bc9d8"]]},{"id":"77da760b.d3d0a8","type":"mqtt in","z":"1d47f6ca.974c59","name":"","topic":"oic/volumeEmPorcentagem","qos":"2","datatype":"auto","broker":"3f889b7f.3442d4","x":220,"y":960,"wires":[["c532148e.2ddb18"]]},{"id":"a0fb4e35.17844","type":"arduino in","z":"1d47f6ca.974c59","name":"","pin":"","state":"STRING","arduino":"34c5d0a2.bcd97","x":80,"y":260,"wires":[["da35d150.39c94"]]}]