flows_rewater.local.json
[{"id":"d800f1de.e36a6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f3ba4e16.2aa35","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5024b579.3c5ebc","type":"ui_group","z":"","name":"Default","tab":"f3ba4e16.2aa35","order":1,"disp":true,"width":"6","collapse":false},{"id":"6636899d.2f3c08","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ed235c9a.ce1f8","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"58a6552d.4e22ac","type":"arduino-board","z":"","device":"/dev/tty.usbmodem141101"},{"id":"5c7b8ab9.6412f4","type":"debug","z":"d800f1de.e36a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":100,"wires":[]},{"id":"a074e40c.977618","type":"ui_gauge","z":"d800f1de.e36a6","name":"","group":"5024b579.3c5ebc","order":0,"width":0,"height":0,"gtype":"gage","title":"Volume ","label":"% (Porcentagem)","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":960,"wires":[]},{"id":"818ea11e.27ea1","type":"json","z":"d800f1de.e36a6","name":"","property":"payload","action":"","pretty":false,"x":250,"y":240,"wires":[["fd80aa4c.094f98","418b343f.f5eb8c","5c7b8ab9.6412f4"]]},{"id":"fd80aa4c.094f98","type":"function","z":"d800f1de.e36a6","name":"distancia_selected","func":"msg.payload = msg.payload.centimetros;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["55bd04fa.d4972c"]]},{"id":"6bf85e92.faaae","type":"ui_gauge","z":"d800f1de.e36a6","name":"Distancia","group":"5024b579.3c5ebc","order":1,"width":0,"height":0,"gtype":"gage","title":"O quanto a água já encheu","label":"cm (centímetros)","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":880,"wires":[]},{"id":"418b343f.f5eb8c","type":"function","z":"d800f1de.e36a6","name":"Transformar o cm em porcentagem","func":"var cm = msg.payload.distancia_d;\n\nmsg.payload = Math.round((cm /90)*100);\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["80c43ba.23829c8"]]},{"id":"58c26988.b69028","type":"function","z":"d800f1de.e36a6","name":"Select centimetros","func":"msg.payload = msg.payload.centimetros\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[[]]},{"id":"80c43ba.23829c8","type":"mqtt out","z":"d800f1de.e36a6","name":"","topic":"oic/volumeEmPorcentagem","qos":"","retain":"","broker":"ed235c9a.ce1f8","x":790,"y":560,"wires":[]},{"id":"55bd04fa.d4972c","type":"mqtt out","z":"d800f1de.e36a6","name":"","topic":"oic/distanciaCm","qos":"","retain":"","broker":"ed235c9a.ce1f8","x":490,"y":640,"wires":[]},{"id":"3f07e0c3.5b8e","type":"mqtt in","z":"d800f1de.e36a6","name":"","topic":"oic/distanciaCm","qos":"2","datatype":"auto","broker":"ed235c9a.ce1f8","x":180,"y":880,"wires":[["6bf85e92.faaae"]]},{"id":"f7f8b219.0cf43","type":"mqtt in","z":"d800f1de.e36a6","name":"","topic":"oic/volumeEmPorcentagem","qos":"2","datatype":"auto","broker":"ed235c9a.ce1f8","x":220,"y":960,"wires":[["a074e40c.977618"]]},{"id":"6cbf8051.b8c07","type":"arduino in","z":"d800f1de.e36a6","name":"","pin":"","state":"STRING","arduino":"58a6552d.4e22ac","x":80,"y":260,"wires":[["818ea11e.27ea1"]]}]